/* p:nth-child(2n){
    color: green;
    /*  n = 1,2,3,4,5,6,.............n
}     

p:nth-child(2n+1){
    color: rgb(80, 80, 80);
} */

/* p:nth-last-of-type(2n){
    background-color: rgb(216, 38, 38);
} */

ul li:nth-of-type(2n){
    color: rgb(128, 0, 139);
    background-color: lightblue;

}