div{
    font-size: 20px;
    border: 2px solid red;
}


p{
    border: 1px solid green;
    width: 50%;
    font-size: 100%;
    background: lightblue;
    /* margin: 10px auto;  */
    margin: 4px auto;
    padding: 10px;
}
